// Place all the styles related to the OccupantCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table_header{
  margin-top:15px;
  margin-bottom:15px;
}
.space_hearder{
  margin-top:0px;
}
.right{
  position: absolute;
  right: 15px;
}
