// Place all the styles related to the SpaceCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_table {
  padding-left: 0px;
}

.my_row {
  padding-left: 15px;
  padding-right: 15px;
}
.panel-group {
  margin-top: 15px;
  margin-bottom:0px;
}